.roll .choice {
    font-size: 600%;
    background-color: #ddd;
}

footer {
    margin-top: 1em;
    text-align: center;
    font-size: 80%;
}

.keep .die {
    font-size: 600%;    
}

.keep .nodice {
    background-color: #ddd;
}

spa {
    text-align: center;
}

/* source http://www.colourlovers.com/palette/1231651/Fantasia_Hippo */
.rollingTen {
    background: #20FC90; /* this is a green */
}

.rollingNine {
    background: #FC70C2; /* this is a red */
}

.rollingOne {
    background: #FFD637; /* this is an orange */
}

.button-primary {
    background: #76D8FF; /* this is a blue */
}

.keep input[type=checkbox], .summary .flag {
    margin-top: 2em;
    margin-bottom: 2em;
}

.summary .dicepool {
    font-size: 600%;
}

.summary .total {
    font-size: 1200%;
    font-weight: bold;
}

.summary button {
    padding: 2em;
}

footer div {
    margin-bottom: 1em;
}